body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 400px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: #050232;
}

.input-section {
  display: flex;
  justify-content: space-between;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

button {
  margin-left: 10px;
  padding: 10px 15px;
  border: none;
  background-color: #3498db;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}

#task-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

#task-list li {
  padding: 10px;
  background-color: #eee;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#task-list li.completed {
  text-decoration: line-through;
  color: gray;
}
.description {
  color: #201a1a;
  text-align: justify;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 1.5;
}
